@if (food) {
  <div class="container">
    <img [src]="food.imageUrl" [alt]="food.name" alt="food-name">
    <div class="details">
      <div class="header">
        <span class="name">
          {{food.name}}
        </span>
        <span class="favorite {{food.favorite?'':'not'}}">
            ❤
        </span>
       
    <button 
        (click)="addToCart()">Add To Cart
    </button>
      </div>
      
      <div class="stars">
              </div>
      <div class="origins">
        @for (origin of food.origins; track origin) {
          <span>
            {{origin}}
          </span>
        }
      </div>
      <div class="tags">
        @for (tag of food.tags; track tag) {
          <a routerLink="/tag/{{tag}}">
            {{tag}}
          </a>
        }
      </div>
      <div class="cook-time">
        <span>
          Time to cook about <strong>{{food.cookTime}}</strong> minutes
        </span>
      </div>
      <div class="price">
        <span>
          {{food.price | currency}}
        </span>
      </div>

    </div>
  </div>
}