<app-search></app-search>
<app-tags></app-tags>
<div class="home-container">
  <div class="most-ordered">
    <h2>🔥 Most Ordered</h2>
    <ul>
      @for (food of mostOrdered(); track food) {
        <li>
          <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="{{food.name}}" />
            <div class="content">
              <div class="name">{{food.name}}</div>
              <div class="price">{{food.price | currency}}</div>
            </div>
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="menu-du-jour">
    <h2>📌 Today's Menu</h2>
    <div class="carousel">
      <div class="carousel-inner">
        @for (food of todayMenu(); track food) {
          <div class="carousel-item">
            <a routerLink="/food/{{food.id}}">
              <img src="{{food.imageUrl}}" alt="{{food.name}}" />
              <div class="content">
                <div class="name">{{food.name}}</div>
                <div class="price">{{food.price | currency}}</div>
              </div>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
  
</div>
<h2>🔍 Explore All Dishes</h2>

@defer {
  <app-food-list [foods]="visibleFoods()" ></app-food-list>
  
} @placeholder {
  <p>Chargement des plats...</p>
} @loading {
  <p>Encore un instant...</p>
} @error {
  <p>Une erreur est survenue. Veuillez réessayer.</p>
}
  

@if (visibleFoods().length < foods().length) {
  <button class="load-more-btn" (click)="loadMore()">
    Charger plus 🔽
  </button>
}
