<header>
  <div class="container">
    <a routerLink="/" class="logo">NgBite</a>
    <nav>
      <ul>
        @if (!user.token) {
          <li>
            <a routerLink="/login">Login</a>
          </li>
        }
        @if (user.token) {
          <li class="menu-container">
            <a routerLink="/dashboard">{{user.name}}</a>
            <div class="menu">
              <a (click)="logout()">Logout</a>
            </div>
          </li>
        }
        
    </ul>
  </nav>
</div>
</header>