<header>
  <div class="container">
    <a routerLink="/" class="logo">NgBite</a>
    <nav>
      <ul>
        @if (!user.token) {
          <li>
            <a routerLink="/login">Connexion</a>
          </li>
        }
        @if (user.token) {
          <li class="menu-container">
            <a routerLink="/dashboard" class="user-name">
              {{user.name}}
              <span class="arrow-down">▼</span>
            </a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a (click)="logout()">Logout</a>
            </div>
          </li>
        }
      </ul>
    </nav>
  </div>
</header>
